* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  /*margin: 63px 0 0 98px;*/
  width: 1366px;
  margin: 0 auto;
}
.firstBlock {
  height: 737px;
  background-image: url(../images/slider_img_201.png);
  position: relative;
  /*padding-top: 63px;*/
}
.paddingSite {
  padding-left: 98px;
  padding-right: 98px;
}
.headerMenuItem {
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  font-family: Montserrat;
  font-weight: 300;
  color: #8c8c8c;
}
.active {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #212121;
  padding-bottom: -5px;
  border-bottom: 3px solid black;
}
h1 {
  font-family: Montserrat;
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}
.sliderText {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}
.logoLink {
  margin-right: 382px;
}
.slider {
  margin-top: 278px;
}
.sliderButton {
  margin: 32px;
  width: 212px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  border-radius: 22.5px;
  text-align: center;
  margin-bottom: 80px;
}
.sliderButtonA {
  text-decoration: none;
}
.sliderButtonText {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
  text-decoration: none;
  line-height: 45px;
}
.pagination {
  margin: 0 40%;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
.paginationItem {
  display: inline-block;
  list-style-type: none;
  margin: 4px;
  height: 32px;
  width: 32px;
  background-color: grey;
  border-radius: 50%;
}
/*.paginationBut {
    height: 32px;
    width: 32px;
    opacity: 0.2;
    background-color: grey;
    border-radius: 50%;
    margin: 10px;
}*/
.pagActive {
  width: 40px;
  height: 40px;
  background-color: #212121;
  border-radius: 50%;
  margin-bottom: 0px;
}
.siteBody {
  padding-top: 120px;
}
.featuredProduct {
  height: 489px;
}
.productText {
  display: block;
  text-decoration: none;
}
.featuredText {
  color: #212121;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  /*margin-right: 31px;*/
  float: left;
  border-bottom: 3px solid #212121;
}
.newText {
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  float: left;
  border-bottom: 1px solid #6c6c6c;
}
.exploreText {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
  float: right;
}
.productCatalog {
  clear: both;
  position: relative;
}
.productCatalogItem {
  margin-right: 25px;
  display: inline-block;
  margin-top: 50px;
}
.productCatalogItem img {
  width: 100%;
}
.productCatalogItem:last-child {
  margin-right: 0;
}
.hoverProductItem {
  width: 270px;
  height: 270px;
  opacity: 0.9;
  background-color: #ffffff;
  border: 1px solid #9c9c9c;
  position: absolute;
  text-align: center;
}
.productCatalogItemLink {
  position: absolute;
  top: 62px;
  left: 40%;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
  border-radius: 24px;
  text-align: center;
  line-height: 48px;
  /*margin-top: 62px;*/
}
/*.productCatalogItemLinkImg {
    margin: 14px 18px 14px 18px;
}*/
.linkGt {
  font-family: Montserrat;
  font-weight: 700;
  text-decoration: none;
  color: #212121;
}
.productCatalogItemTitle {
  margin-top: 129px;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
  color: #212121;
}
.productCatalogItemText {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #6c6c6c;
}
.exclusive {
  margin-top: 20px;
  clear: both;
  height: 683px;
}
.exclusiveOne {
  width: 683px;
  height: 683px;
  float: left;
  left: 0px;
  background-image: url("../images/promo_img_132.png");
}
.exclusiveTwo {
  float: right;
  width: 683px;
  height: 683px;
  right: 0px;
  background-image: url("../images/promo_img1_148.png");
}
.exclusiveTitleText {
  font-family: Montserrat;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
}
.exclusiveText {
  font-family: Montserrat;
  font-size: 14.1px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}
.exclusiveElements {
  margin-top: 228px;
  margin-left: 51px;
}
/*!TRENDING PRODUCTS BLOCK!*/
.trendingProducts {
  margin: 120px 98px;
}
.trendingProductsTitle {
  font-family: Montserrat;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
  text-decoration: none;
}
.trendingProductsCatalogItem {
  margin-right: 17px;
  display: inline-block;
  margin-top: 64px;
}
.trendingProductsCatalogItem:last-child {
  margin-right: 0;
}
/*!SLIDER HOT-DEAL!*/
.sliderHotDeal {
  margin: 120px 0;
  height: 800px;
  background-image: url(../images/slider_84.png);
  position: relative;
}
.hotDealImg {
  margin-top: 287px;
}
/*!Exclusive Product!*/
.exclusiveProduct {
  height: 580px;
}
.exclusiveSingle {
  float: left;
  margin-right: 25px;
  position: relative;
}
.exclusiveText2 {
  position: absolute;
  margin-top: 186px;
  margin-left: 31px;
}
.exclusiveImgLink {
  position: absolute;
}
.exclusiveMultiple {
  float: right;
}
.exclusiveMultipleItem {
  margin: 0 25px 25px 0;
}
.EMI1 {
  display: inline-block;
}
.EMI1:last-child {
  margin-right: 0;
}
.EMI2 {
  display: inline-block;
}
.EMI2:last-child {
  margin-right: 0;
}
/*!MOBILE APP*/
.mobileApp {
  margin-top: 120px;
  background-image: url(../images/back_img_44.jpg);
  padding-top: 125px;
  height: 391px;
}
.mobileAppText {
  margin-left: 99px;
}
.mobileAppSlogan {
  font-family: Montserrat;
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}
.mobileAppDetails {
  font-family: Montserrat;
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}
.imgAppBlock {
  margin-left: 10px;
}
.mobileAppItem {
  margin-top: 26px;
}
.mainFooter {
  padding-top: 120px;
}
.contactUs {
  margin-right: 80px;
}
.contactUsTitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
  margin-bottom: 24px;
}
.contactUsAdress {
  margin-bottom: 25px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #212121;
}
.subscribeTitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
  margin-bottom: 24px;
}
.usefulInfoTitle {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
  margin-bottom: 25px;
}
.footerBlock {
  display: inline-block;
  vertical-align:top;
}
.subscribe {
  margin-left: 50px;
}
.usefulInfoBlock {
  display: inline-block;
}
.usefulInfo1 {
  margin-right: 50px;
}
.usefulInfoText {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #212121;
  margin-top: 7px;
}
.subscribeInput {
  width: 349px;
  height: 49px;
  background-color: #ffffff;
  border: 1px solid #d9dee1;
  margin-top: 26px;
  border-right: none;
}
.footerImgTelegram {
  width: 46px;
  height: 49px;
  background-color: #ffffff;
  border: 1px solid #d9dee1;
  border-left: none;
  margin-top: 26px;
  line-height: 48px;
  text-align: center;
}
.inputImg {
  display: inline-block;
}
.footerLinkInput {
  position: relative;
}
.telegramImg {
  margin-left: -21px;
  margin-top: -15px;
}
.contactUsContacts {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #212121;
}
.subscribeText {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #212121;
}
.allRightsReserved {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6c6c6c;
  margin-top: 77px;
}
.contactIcons {
  font-family: icomoon;
  font-size: 28px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #6c6c6c;
  margin-left: 158px;
  margin-right: 100px;
}
.footerElement {
  display: inline-block;
}
.fa {
  color: #6c6c6c;
}
